@import "../variables";

.select-section {
  .section-header {
    font-size: 1.1rem;
    font-weight: bold;
    color: $gray-500;
  }

  .section-body {
    margin: .5rem 0;

    .selection {
      cursor: pointer;
      border-radius: $border-radius;
      display: flex;
      padding: .4rem 1rem;
      flex-wrap: nowrap;
      align-items: center;
      color: $gray-500;
      line-height: 1;

      small {
        font-size: .8rem;
        color: $gray-600;
        line-height: 1.2;
      }

      img {
        width: 2rem;
        height: 2rem;
        margin-right: .6rem;
      }

      .fab, .fas, .far, .fal {
        font-size: 1.8rem;
        color: $blue;
        line-height: 2rem;
        margin-left: .1rem;
        margin-right: .5rem;
      }

      &.selected {
        background-color: $deep-dark-shadow;
        color: $white;
      }
    }
  }
}
