@import "variables";

ux-dialog-container, ux-dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

ux-dialog-overlay {
  opacity: 0;
  // background-color: rgba(0, 0, 0, .1);
}

ux-dialog-overlay.active {
  opacity: 1;
}

ux-dialog-container {
  display: block;
  transition: opacity .2s linear;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

ux-dialog-container.active {
  opacity: 1;
}

ux-dialog-container>div {
  padding: 1rem 0;
  height: 100%;
}

ux-dialog-container>div>div {
  display: block;
  width: fit-content;
  height: 100%;
  margin: auto;
}

ux-dialog-container,ux-dialog-container > div,ux-dialog-container > div > div {
  outline: 0;
}

ux-dialog {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px $dark-shadow;
  border: 1px solid $gray-700;
  border-radius: $border-radius;
  padding: 3;
  width: 300px;
  max-height: 100%;
  margin: auto;
  color: $gray-100;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: $gray-800;

  &.wide-dialog {
    @media (min-width: $small) {
      width: 600px;
    }

    @media (max-width: $small - .02) and (min-width: $tiny) {
      width: 420px;
    }
  }

}

ux-dialog > ux-dialog-header {
  display: block;
  flex: 0 0;
  padding: .75rem 1rem;
  font-size: 1.2rem;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  .dialog-header-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dialog-close {
    float: right;
    appearance: none;
    background: transparent;
    border: 0;
    color: $gray-500;
    padding: 0 .5rem .4rem;
    margin: -.5rem -.75rem -.75rem 0;
    font-size: 2.2rem;
    line-height: 1;
    border-radius: $border-radius;

    &:focus {
      outline: 0;
    }

    &:hover {
      color: $gray-100;
      background-color: $gray-700;
    }
  }
}

ux-dialog > ux-dialog-body {
  display: block;
  flex: 0 1;
  padding: .75rem 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

ux-dialog-header + ux-dialog-body {
  padding-top: .25rem;
}

ux-dialog > ux-dialog-footer {
  display: flex;
  flex: 0 0;
  padding: 1rem;
  background-color: $gray-900;
  text-align: right;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

ux-dialog > ux-dialog-footer .btn {
  min-width: 6rem;
}

ux-dialog > ux-dialog-footer .btn+.btn {
  margin-left: 10px;
}

ux-dialog > ux-dialog-footer button:disabled {
  cursor: default;
  opacity: .45;
}

.ux-dialog-open {
  overflow: hidden;
}

ux-dialog.merge-header-with-body > ux-dialog-header {
  border-bottom: 0;
}

ux-dialog.merge-header-with-body > ux-dialog-body {
  padding-top: 0;
}
