.dialog-lite-overlay {
  justify-content: flex-start;
  padding: 1rem 0;
  z-index: 1051;
}

.dialog {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px $dark-shadow;
  border: 1px solid $gray-700;
  border-radius: $border-radius;
  padding: 3;
  width: 420px;
  max-height: 100%;
  color: $gray-100;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  background-color: $gray-800;

  &.wide-dialog {
    @media (min-width: $small) {
      width: 600px;
    }
  }

  @media (max-width: ($tiny - .02)) {
    width: 310px;
  }

  > .dialog-header {
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    padding: .75rem 1rem;
    font-size: 1.2rem;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    > .dialog-close {
      cursor: pointer;
      display: inline-block;
      margin: -.75rem -1rem -.75rem auto;
      margin-left: auto;
      color: $gray-400;
      font-size: 2.6rem;
      font-weight: 300;
      line-height: 1;
      width: 2.8rem;
      vertical-align: middle;
      text-align: center;
      border-radius: $border-radius;

      &:hover {
        color: $white;
      }
    }
  }

  > .dialog-body {
    display: block;
    flex: 0 1 auto;
    padding: .75rem 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .dialog-header + .dialog-body {
    padding-top: .25rem;
  }

  > .dialog-footer {
    display: flex;
    flex: 0 0 auto;
    padding: 1rem;
    background-color: $gray-900;
    text-align: right;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    .btn {
      min-width: 6rem;
    }

    .btn + .btn {
      margin-left: 10px;
    }

    button:disabled {
      cursor: default;
      opacity: .45;
    }
  }
}
