# OS
.DS_STORE
Thumbs.db

# Editors
.idea
.vscode

# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb

# Compiled files
dist
/client/index.html
/client-service-worker/__dumber-gist-worker.js
.nyc_output
coverage

# Phusion Passenger
/server/dumber-cache/public
/server/dumber-cache/tmp
/server/github-oauth/tmp
