# OS
.DS_STORE
Thumbs.db

# Editors
.idea
.vscode

# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Compiled files
dist
output
/client-app/index.html
/client-worker/worker-bundle.*
/client-worker/boot-up-worker.html
.nyc_output
coverage

# Cache files
/server/cache

# Phusion Passenger
/server/dumber-cache/public
/server/dumber-cache/tmp
/server/github-oauth/tmp
