@import "variables";
@import "dialog";
@import "gist-editor";

html {
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: $tiny - .02) {
  html {
    font-size: 12px;
  }
}

@media (max-width: $small - .02) and (min-width: $tiny) {
  html {
    font-size: 13px;
  }
}

.d-small {
  @media (min-width: $small) {
    display: none !important;
  }
}

.d-small-hide {
  @media (max-width: $small - .02) {
    display: none !important;
  }
}

.d-tiny {
  @media (min-width: $tiny) {
    display: none !important;
  }
}

.d-tiny-hide {
  @media (max-width: $tiny - .02) {
    display: none !important;
  }
}

.ml {
  margin-left: .25rem !important;
}

.ml-2 {
  margin-left: .5rem !important;
}

.ml-3 {
  margin-left: .75rem !important;
}

.ml-auto {
  margin-left: auto !important;
}

.mr {
  margin-right: .25rem !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.mr-3 {
  margin-right: .75rem !important;
}

.mr-auto {
  margin-right: auto !important;
}

.float-left {
  float: left;
}

.float-right {
  float: left;
}

.w100 {
  width: 100% !important;
}

.app {
  background-color: $gray-900;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
}

.spinner {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4rem;
  margin-top: -2rem;
  margin-left: -2rem;
  color: $cyan-dark;
}

.app-top-bar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: $gray-800;
  // border-bottom: 2px solid $gray-1000;

  .app-buttons {
    margin: .5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.app-content {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  align-items: stretch;

  .app-side-bar {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    z-index: 100;

    @media (max-width: $small - .02) {
      background-color: $gray-800;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -320px;
      width: 320px !important;
      border-right: 0;
      transition: left 200ms ease-in-out;

      &.show-side-bar {
        left: 0;
      }
    }
  }

  .app-editors {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    z-index: 3;

    @media (max-width: $tiny - .02) {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto !important;

      &.show-editors {
        display: flex;
      }
    }

    @media (max-width: $small - .02) and (min-width: $tiny) {
      &.sole-panel {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto !important;

        .panel-resizer {
          display: none;
        }
      }

      &.hide-editors {
        display: none;
      }
    }
  }

  .app-browser-window {
    flex: 1 1 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    z-index: 2;

    @media (max-width: $tiny - .02) {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &.show-browser-window {
        display: flex;
      }
    }

    @media (max-width: $small - .02) and (min-width: $tiny) {
      &.sole-panel {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto !important;
      }

      &.hide-browser-window {
        display: none;
      }
    }
  }
}

.panel-resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  z-index: 2;
  cursor: ew-resize;
  background-color: $gray-800;

  &:hover {
    transition: transform 150ms ease;
    transform: scaleX(2);
  }

  &.panel-resizer-horizontal {
    top: -3px;
    height: 5px;
    width: unset;
    left: 0;
    right: 0;
    bottom: unset;
    cursor: ns-resize;

    &:hover {
      transform: scaleY(2);
    }
  }
}

.btn {
  display: inline-block;
  border: 0;
  padding: .2rem .8rem;
  line-height: 1.6rem;
  border-radius: $border-radius;
  margin: 0;
  text-decoration: none;
  background-color: $gray-100;
  color: $charcoal;
  font-size: .9rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 200ms ease-in-out, transform 150ms ease;
  appearance: none;

  + .btn {
    margin-left: .25rem;
  }

  &.btn-not-first {
    margin: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.btn-not-last {
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .fab, .fas, .far, .fal {
    line-height: 1.6rem;
    vertical-align: baseline;
  }

  &.even-size {
    min-width: 3rem;

    @media (max-width: $tiny - .02) {
      min-width: 2rem;
    }
  }

  &:hover, &:focus {
    background-color: $gray-400;
  }

  &:focus {
    box-shadow: 0 0 0 .25rem $blue-light;
  }

  &:active {
    transform: scale(.95);
  }

  &.disabled {
    color: $gray-600;
    cursor: default;

    &:active {
      transform: none;
    }

    &:hover, &:focus {
      background-color: $gray-100;
    }
  }

  &.clean, &.primary, &.success, &.warning, &.error {
    text-shadow: 0 0 8px $deep-dark-shadow;
  }

  &.clean {
    background-color: $dark-shadow;
    color: $white;

    &:hover, &:focus {
      background-color: $bright-shadow;
    }

    &.disabled {
      color: $gray-700;

      &:hover, &:focus {
        background-color: $dark-shadow;
      }
    }
  }

  &.primary {
    background-color: $blue;
    color: $white;

    &:hover, &:focus {
      background-color: $blue-dark;
    }

    &.disabled {
      color: $gray-700;

      &:hover, &:focus {
        background-color: $blue;
      }
    }
  }

  &.success {
    background-color: $green;
    color: $white;

    &:hover, &:focus {
      background-color: $green-dark;
    }

    &.disabled {
      color: $gray-700;

      &:hover, &:focus {
        background-color: $green;
      }
    }
  }

  &.warning {
    background-color: $yellow;
    color: $white;

    &:hover, &:focus {
      background-color: $yellow-dark;
    }

    &.disabled {
      color: $gray-700;

      &:hover, &:focus {
        background-color: $yellow;
      }
    }
  }

  &.error {
    background-color: $red;
    color: $white;

    &:hover, &:focus {
      background-color: $red-dark;
    }

    &.disabled {
      color: $gray-700;

      &:hover, &:focus {
        background-color: $red;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.text-muted {
  color: $gray-600 !important;
}

.text-cyan {
  color: $cyan !important;
}

.text-dark {
  color: $charcoal !important;
}

.text-primary {
  color: $blue !important;
}

.text-success {
  color: $green !important;
}

.text-warning {
  color: $yellow !important;
}

.text-error {
  color: $red !important;
}

.text-primary-light {
  color: $blue-light !important;
}

.text-success-light {
  color: $green-light !important;
}

.text-warning-light {
  color: $yellow-light !important;
}

.text-error-light {
  color: $red-light !important;
}

$node-offset: 1.4rem;
$node-start-offset: .6rem;
.file-node, .folder-node, .section-bar {
  position: relative;
  cursor: default;
  color: $gray-500;
  white-space: nowrap;
  display: flex;
}

.section-bar {
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 0 auto;
  height: 2.8rem;
  background-color: $gray-1000;
  overflow-x: auto;

  .bar-action {
    display: inline-block;
    flex: 0 0 auto;
    padding: .6rem 0;
    text-align: center;
    width: 2rem;
    color: $gray-700;
    font-size: 1.1rem;

    &.enabled {
      color: $gray-500;
      cursor: pointer;
      border-radius: $border-radius;

      &:hover {
        background-color: $gray-800;
      }

      &:active {
        color: $white;
        background-color: $cyan;
      }

    }
  }

  .address-input {
    flex: 1 1 auto;
  }
}

.all-nodes {
  flex: 1 1 0;
  padding: .25rem 0;
  margin: .25rem 0;
  overflow-y: auto;
}

.file-node, .folder-node {
  padding: .4rem $node-start-offset;

  &:hover {
    background-color: $black;

    .file-action {
      display: inline-block;
    }
  }

  &.active {
    background-color: $gray-700;
    color: $white;
  }

  .fas, .far, .fal, .fab {
    margin-left: .25rem;
    margin-right: .25rem;
  }
}

.file-action {
  display: none;
  color: $gray-600;

  &:hover {
    color: $white;
  }
}

@for $i from 0 through 8 {
  .nested-file-node-#{$i} {
    .file-node, .folder-node {
      padding-left: $node-start-offset + $node-offset * ($i + 1);
    }
  }
}

.file-navigator {
  flex: 1 1 auto;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tab {
  flex: 0 1 auto;
  align-self: stretch;
  padding: 0 .8rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: $gray-600;
  white-space: nowrap;
  vertical-align: middle;

  span {
    flex: 0 1 auto;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: $black;

    .close-file {
      visibility: visible;
    }
  }

  &.active {
    background-color: $gray-800;
    color: $gray-400;

    .close-file {
      visibility: visible;
      color: $gray-500;

      &:hover {
        color: $white;
      }
    }
  }

  .close-file {
    visibility: hidden;
    margin-left: .5rem;
    color: $gray-700;

    &:hover {
      color: $white;
    }
  }
}

.can-drop {
  background-color: $black;

  > .folder-node > .node-title {
    transform: scale(1.05);

    > .node-name {
      text-decoration: underline;
    }
  }


  @media (min-width: $small) {
    box-shadow: inset -1px 0 0 1px $blue;
  }

  @media (max-width: $small - .02) {
    box-shadow: inset 0 0 0 1px $blue;
  }

  @for $i from 0 through 8 {
    .nested-file-node-#{$i} {
      opacity: .3;
    }
  }
}

.node-title {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.bcx-dnd-preview {
    background-color: $gray-900;
    color: $gray-300;
  }
}

#toast-container.toast-top-center > div {
  @media (min-width: $tiny) {
    width: 25rem;
  }

  @media (max-width: $tiny - .02) {
    width: 100%;
  }

  opacity: 1;
  padding: 1rem;
  box-shadow: none !important;
  border-radius: 0;
}

#toast-container > .toast {
  background-image: none !important;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  .toast-message {
    flex: 1 1 auto;
  }

  &::before {
    flex: 0 0 auto;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    color: #FFF;
    margin-right: 1rem;
  }

  &.toast-warning::before {
    content: "\f071";
  }

  &.toast-error::before {
    content: "\f06a";
  }

  &.toast-info::before {
    content: "\f05a";
  }

  &.toast-success::before {
    content: "\f058";
  }
}

.context-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.context-menu {
  position: fixed;
  border-radius: $border-radius;
  padding: .25rem 0;
  color: $gray-200;

  background-color: $gray-900;
  box-shadow: 0 0 0 1px $gray-700;

  .context-menu-item {
    padding: .25rem 1rem;

    &.context-menu-item-action {
      cursor: pointer;

      &.danger {
        color: $red;
      }
    }

    &.context-menu-item-action:hover {
      background-color: $cyan-dark;
      color: $white !important;
    }

    &.context-menu-item-separator {
      padding: 0;
      margin: .25rem 0;
      border-bottom: 1px solid $gray-800;
    }

    a {
      text-decoration: none;

      &:visited, &:hover {
        text-decoration: none;
      }

      &:visited {
        color: $gray-200;
      }

      &:hover {
        color: $white;
      }
    }
  }
}

input[type='text'] {
  border: 0;
  border-radius: $border-radius;
  padding: .25rem;
  background-color: $gray-600;

  &:focus {
    background-color: $gray-300;
    outline: none;
  }
}

.browser-frame {
  flex: 1 0 0;
  display: block;
  position: relative;

  .iframe {
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
  }

  .dnd-helper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .error {
    margin: 1rem;
    font-size: 2rem;
    color: $red;
  }
}

.browser-dev-tools {
  position: relative;
  flex: 0 0 auto;
  display: block;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: stretch;
}

.dev-details-panel {
  position: relative;

  .dev-details {
    overflow-y: auto;
  }
}

.bg-cyan {
  background-color: $cyan;
}

.bg-dark {
  background-color: $charcoal;
}

.bg-primary {
  background-color: $blue;
}

.bg-success {
  background-color: $green;
}

.bg-warning {
  background-color: $yellow;
}

.bg-error {
  background-color: $red;
}

.bg-primary-light {
  background-color: $blue-light;
}

.bg-success-light {
  background-color: $green-light;
}

.bg-warning-light {
  background-color: $yellow-light;
}

.bg-error-light {
  background-color: $red-light;
}

.file-drop-indicator {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: $border-radius;
  border: 4px dashed $dark-shadow;
  background-color: $bright-shadow;
  color: $gray-200;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.flash {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-900;
  color: $gray-300;
  text-align: center;
}

.badge {
  padding: .2rem .5rem .25rem;
  border-radius: .8rem;
  font-size: .8rem;
}

// .badge {
//   padding: 0 .5rem;
//   border-radius: $border-radius;
// }

.select-section {
  .section-header {
    font-size: 1.1rem;
    font-weight: bold;
    color: $gray-500;
  }

  .section-body {
    margin: .5rem 0;

    .selection {
      cursor: pointer;
      border-radius: $border-radius;
      display: flex;
      padding: .4rem 1rem;
      flex-wrap: nowrap;
      align-items: center;
      color: $gray-500;
      line-height: 1;

      small {
        font-size: .8rem;
        color: $gray-600;
        line-height: 1.2;
      }

      img {
        width: 2rem;
        height: 2rem;
        margin-right: .6rem;
      }

      .icon.fab, .icon.fas, .icon.far, .icon.fal {
        font-size: 1.8rem;
        color: $blue;
        line-height: 2rem;
        margin-left: .1rem;
        margin-right: .5rem;
      }

      &.selected {
        background-color: $deep-dark-shadow;
        color: $white;
      }
    }
  }
}

.with-auto-label {
  position: relative;

  &::after {
    font-family: Arial;
    font-weight: bold;
    font-size: .7rem;
    line-height: 1;
    color: $cyan-dark;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "auto";
  }
}
