@import "variables";


html {
  font-size: 14px;
}

@media (max-width: $tiny - .02) {
  html {
    font-size: 12px;
  }
}

@media (max-width: $small - .02) and (min-width: $tiny) {
  html {
    font-size: 13px;
  }
}

.d-small {
  @media (min-width: $small) {
    display: none !important;
  }
}

.d-small-hide {
  @media (max-width: $small - .02) {
    display: none !important;
  }
}

.d-tiny {
  @media (min-width: $tiny) {
    display: none !important;
  }
}

.d-tiny-hide {
  @media (max-width: $tiny - .02) {
    display: none !important;
  }
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.app {
  background-color: $gray-900;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.app-top-bar {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: $gray-800;

  .app-title {
    // font-size: 1.2rem;
    // line-height: 2.5rem;
    margin: .5rem .5rem .5rem 0;
    color: $gray-200;
    white-space: nowrap;

    @media (min-width: $small) {
      margin-left: .5rem;
    }
  }

  .app-buttons {
    margin: .5rem;
    white-space: nowrap;
  }
}

.app-content {
  flex: 1 1 auto;
  display: flex;
  position: relative;
  align-items: stretch;

  .app-side-bar {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;

    @media (max-width: $small - .02) {
      background-color: $gray-800;
      z-index: 100;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -320px;
      width: 320px !important;
      border-right: 0;
      transition: left 200ms ease-in-out;

      &.show-side-bar {
        left: 0;
      }
    }
  }

  .app-editors {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    @media (max-width: $tiny - .02) {
      display: none;
      z-index: 3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: auto !important;

      &.show-editors {
        display: block;
      }
    }

    @media (max-width: $small - .02) and (min-width: $tiny) {
      &.sole-panel {
        display: block;
        z-index: 3;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto !important;

        .panel-resizer {
          display: none;
        }
      }

      &.hide-editors {
        display: none;
      }
    }
  }

  .app-browser-window {
    flex-grow: 1;
    flex-shrink: 1;

    @media (max-width: $tiny - .02) {
      display: none;
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &.show-browser-window {
        display: block;
      }
    }

    @media (max-width: $small - .02) and (min-width: $tiny) {
      &.sole-panel {
        display: block;
        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto !important;
      }

      &.hide-browser-window {
        display: none;
      }
    }
  }
}

.panel-resizer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3px;
  width: 6px;
  z-index: 2;
  cursor: ew-resize;
  background-color: $gray-800;

  &:hover {
    transition: transform 150ms ease;
    transform: scaleX(2);
  }
}

.btn {
  display: inline-block;
  border: 0;
  padding: .4rem .6rem;
  border-radius: .25rem;
  margin: 0;
  text-decoration: none;
  background-color: $gray-400;
  color: $charcoal;
  font-family: sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 200ms ease-in-out, transform 150ms ease;
  appearance: none;

  &:hover, &:focus {
    background-color: $white;
  }

  &:focus {
    box-shadow: 0 0 0 .25rem $blue-light;
  }

  &:active {
    transform: scale(.95);
  }

  &.clean {
    background-color: transparent;
    color: $white;

    &:hover, &:focus {
      background-color: $bright-shadow;
    }
  }

  &.primary {
    background-color: $blue;
    color: $white;

    &:hover, &:focus {
      background-color: darken($blue, 15%);
    }
  }

  &.success {
    background-color: $green;
    color: $white;

    &:hover, &:focus {
      background-color: darken($green, 15%);
    }
  }

  &.warning {
    background-color: $yellow;
    color: $white;

    &:hover, &:focus {
      background-color: darken($yellow, 15%);
    }
  }

  &.error {
    background-color: $red;
    color: $white;

    &:hover, &:focus {
      background-color: darken($red, 15%);
    }
  }
}

.text-cyan {
  color: $cyan;
}

.text-primary {
  color: $blue;
}

.text-success {
  color: $green;
}

.text-warning {
  color: $yellow;
}

.text-error {
  color: $red;
}

.text-primary-light {
  color: $blue-light;
}

.text-success-light {
  color: $green-light;
}

.text-warning-light {
  color: $yellow-light;
}

.text-error-light {
  color: $red-light;
}

$node-offset: 1.4rem;

.file-node, .folder-node {
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding-left: $node-offset;
  padding-top: .5rem;
  padding-bottom: .5rem;
  position: relative;
  cursor: default;
  color: $gray-500;
  white-space: nowrap;

  &:hover {
    background-color: $black;
  }

  &.active {
    background-color: $gray-700;
    color: $white;
  }
}

.nested-file-node .file-node,
.nested-file-node .folder-node {
  padding-left: $node-offset * 2;
}

.nested-file-node .nested-file-node .file-node,
.nested-file-node .nested-file-node .folder-node {
  padding-left: $node-offset * 3;
}

.nested-file-node .nested-file-node .nested-file-node .file-node,
.nested-file-node .nested-file-node .nested-file-node .folder-node {
  padding-left: $node-offset * 4;
}

.nested-file-node .nested-file-node .nested-file-node .nested-file-node .file-node,
.nested-file-node .nested-file-node .nested-file-node .nested-file-node .folder-node {
  padding-left: $node-offset * 5;
}

.folder-node {
  &::after {
    color: $gray-300;
    display: block;
    content: '\f0d7';
    position: absolute;
    text-align: center;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    left: 0;
    top: 50%;
    width: 1.25rem;
    margin-top: -.625rem;
  }

  &.folder-node-closed {
    &::after {
      content: '\f0da';
    }
  }
}

.nested-file-node .folder-node::after {
  left: $node-offset;
}

.nested-file-node .nested-file-node .folder-node::after {
  left: $node-offset * 2;
}

.nested-file-node .nested-file-node .nested-file-node .folder-node::after {
  left: $node-offset * 3;
}

.nested-file-node .nested-file-node .nested-file-node .nested-file-node .folder-node::after {
  left: $node-offset * 4;
}

.file-navigator {
  flex: 1 1 auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
