.github-account {
  vertical-align: middle;
  margin: .5rem;

  .fa-github {
    font-size: 1.6rem;
    cursor: pointer;
  }

  img {
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
  }
}
